---
layout: base
title: Bedoom
excerpt: Bedoom | 黄志强
---

{%- if site.author.type == 'organization' -%}
  {%- assign _author_itemtype = 'http://schema.org/Organization' -%}
{%- else -%}
  {%- assign _author_itemtype = 'http://schema.org/Person' -%}
{%- endif -%}

<div itemscope itemtype="{{ _author_itemtype }}" class="layout--author">
  <div class="main">
    <div class="content">
      <div class="author-avatar">
        <img itemprop="image" alt="my photo" src="https://s2.loli.net/2021/12/23/bBfg3dtAizrCnYs.jpg" />
      </div>
      <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
      {% include author-links.html author=site.author %}
      <p><a itemprop="url" class="social-link blog" title="Visit my blog." href="/blog" target="_self">Visit My Blog</a></p>
    </div>
  </div>
</div>
<!--<div id="xuexiaoban">-->
<!--<div id="xuexiaoban-tips"></div>-->
<!--<canvas id="live2d" class="live2d" width="350" height="350"></canvas>-->
<!--</div>-->
<script>{%- include scripts/common.js -%}</script>
<script src="js/live2d.js"></script>
<script type="text/javascript">

    let xuexiaoban = document.createElement('div');
    let xuexiaobanTips = document.createElement('div');
    let live2d = document.createElement('canvas');
    xuexiaoban.id = 'xuexiaoban';
    xuexiaobanTips.id = 'xuexiaoban-tips';
    live2d.id = 'live2d';
    live2d.class = 'live2d';
    live2d.width = '350';
    live2d.height = '350';
    xuexiaoban.appendChild(xuexiaobanTips);
    xuexiaoban.appendChild(live2d);
    document.body.appendChild(xuexiaoban);

    // loadlive2d("live2d", "https://cdn1.zzzmh.cn/live2DModel/xxb/model.json");
    loadlive2d("live2d", "live2d/xxb/model.json");
    window.onload = function () {
        message("啊~牙白~被发现了呢");
    }

    function message(text, timeout) {
        document.getElementById('xuexiaoban-tips').innerText = text;
        document.getElementById('xuexiaoban-tips').style.opacity = '1';
        if (!timeout) timeout = 5000;
        setTimeout(function () {
            document.getElementById('xuexiaoban-tips').style.opacity = '0';
            setTimeout(function () {
                message(yiyan());
            }, timeout);
        }, timeout);
    }

    function yiyan() {
        let xhr = new XMLHttpRequest();
        xhr.open('get', 'https://v1.hitokoto.cn/?c=b&encode=text&charset=utf-8', false);
        xhr.send(null);
        if (xhr.readyState == 4 && xhr.status == 200) {
            return xhr.responseText;
        } else {
            return "什么破网络啊~我要自闭啦！";
        }
    }
</script>
{% include analytics.html %}
